<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
	backupGlobals="false"
  bootstrap="./vendor/autoload.php"
	colors="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutResourceUsageDuringSmallTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutTodoAnnotatedTests="true"
	beStrictAboutCoversAnnotation="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
	verbose="true">

  <testsuites>
    <testsuite name="All Tests">
      <directory suffix="_test.php">tests</directory>
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
